<ion-header>
  <ion-toolbar>
    <ion-title>TERMS</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.
        Duis est purus, accumsan eu quam nec, elementum pretium libero. 
        Nullam feugiat massa ac diam facilisis sagittis. 
        Aliquam quis augue quis orci tempus eleifend varius et tortor. 
        Donec vitae dapibus sem. Vivamus ligula eros, consequat in feugiat
         pharetra, blandit non enim. Nam vitae bibendum massa, quis laoreet nisi. 
         Maecenas pulvinar metus in consequat lobortis. Maecenas congue sapien 
         condimentum, finibus nunc quis, vestibulum velit. Nulla pharetra dui augue, 
         sed feugiat est imperdiet non. Mauris aliquet in nunc id porta. 
         Etiam et suscipit leo. Nam pulvinar mi id felis cursus interdum. 
         Ut tempor et neque at sodales. Aenean lobortis est vel mi ullamcorper, 
         in varius sapien semper.</p>
</ion-content>
